// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//$enable-rounded: false;
//$enable-shadows: false;
$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 5,
    7: $spacer * 8,
    10: $spacer * 10,
    20: $spacer * 20,
);

$indigo:  #6610f2 !default;

$primary:       $indigo !default;
